body {
    margin: 0;
    font-family: Roboto Mono, Sans-Serif;
    background-color: #141414;
}

.heading {
    background-color: #000000;
    margin-bottom: 4%;
}

.hd_hl {
    font-weight: 200;
}

.footing {
    color: #D2D2D2;
    font-size: 125%;
    position: fixed;
    width: 100%;
    height: 4%;
    bottom: 0%;
    text-align: right;
    opacity: 0.7;
    font-weight: 100;
}

.ig {
    padding-right: 1%;
}

.main_title {
    display: inline-block;
    color: #D2D2D2;
    margin-top: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
    font-weight: 200;
    font-style: italic;
    font-size: 500%;
}

.subtitle {
    display: inline-block;
    color: #D2D2D2;
    margin-left: 2%;
    margin-top: 0%;
    font-weight: 100;
    font-style: italic;
    font-size: 120%;
}

.menu{
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 5%;
    width: 50%;
    font-weight: 100;
    font-style: italic;
    font-size: 125%;
}

.menu_element {
    display: inline-block;
    color: #D2D2D2;
    margin-right: 15%
}

.logo {
    text-align: center;
    color: #D2D2D2;
    margin: 0;
    font-weight: 100;
    font-style: italic;
    font-size: 600px;

}

.y_char {
    color: #D0FA00;
}

.subt_1:hover, .subt_2:hover, .subt_3:hover {
    color: #D0FA00;
}

.cube_container {
    background-color: #141414;
    text-align: center;
    margin: auto;
}

.c_img {
    text-align: center;
}

.p_img_1 {
    width: 60%;
}

.p_img_2 {
    width: 35%;
    margin: 2%;
}

.p_img_3 {
    width: 22%;
    margin: 2%;
}

.bd_img {
    position: fixed;
    bottom: 0%;
    opacity: 0.02;
    width: 125%;
    height: 150%;
}

.bg_img:hover {
    opacity: 0.8;
}

.work {
    text-align: center;
    color: white;
    font-weight: 100;
    font-style: italic;
    font-size: 350%;
}

.contact {
    text-align: center;
    color: white;
    font-weight: 100;
    font-style: italic;
    font-size: 350%;
}

.contact_form {
    color: #D2D2D2;
    text-align: center;
    border: 3px solid #D2D2D2;
    width: 30%;
    margin: auto;
    margin-bottom: 7%;
}

.ctc_input {
    margin-bottom: 3%;
}

a {
    text-decoration: none;
}

.blog_title, .play_title {
    color: #D2D2D2;
    font-weight: 200;
    text-align: center;
    font-size: 800%;
}

.blinking_char {
    animation: animate 1s infinite;

}


@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }
